<h1>This is show template</h1>

<h3>
<%= campground.name %>
</h3>

<img src = "<%= campground.image %>">

<p>
<%= campground.description %>
</p>

<br>
<% campground.comments.forEach(function(comment){ %>
    <p> <strong><%= comment.author %> </strong> - <%= comment.text %></p>
<% }) %>